@font-face {
	font-family: Raleway;
	src: url("assets/Raleway-Thin.otf");
}
@font-face {
	font-family: ElegantLux;
	src: url("assets/ElegantLux-Mager.otf");
}

body {
	font-family: ElegantLux;
	color: white;
	background-color: #262626;
}

video, .i {
	width: 375px;
	height: 213px;
	cursor: pointer;
}

.i {
	-webkit-filter:brightness(20%);
   -moz-filter:brightness(20%);
   filter:url(#brightness);
   filter:brightness(20%);
}
a:hover + img, .i:hover {
   -webkit-filter:brightness(60%);
   -moz-filter:brightness(60%);
   filter:url(#brightness);
   filter:brightness(60%);
}

.logo a {
	font-family: Raleway;
	font-size: 80px;
	color: #262626;
	text-decoration: none;
	z-index: 3;
	white-space: nowrap;
	overflow: hidden;
}

.info {
	position: fixed;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	z-index: 3;
}
.info a {
	font-size: 28px;
	color: white;
	letter-spacing: 5px;
	text-decoration: none;
	background: #262626;
	border: .5px solid black;
	padding: 4px;
	margin-top: 8px;
	margin-right: 6px;
	width: 180px;
	display: inline-block;
}
.info a:hover { color: gold; }

.bkg img {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: -1;
	height: 100%;
}

.cCtnr {
	text-align: center;
	margin: 0 auto;
	margin-top: 200px;
}
.cCtnr div {
	padding: 1.5%;
	border-radius: 100px;
	position: relative;
	width: 375px;
	display: inline-block;
	overflow: hidden;
}
.cCtnr a {
	font-size: 50px;
	color: white;
	letter-spacing: 0px;
	text-decoration: none;
	position: absolute;
	left: .75%;
	width: 100%;
	text-align: center;
	top: 90px;
	pointer-events: none;
}

.w3-display-left {
	text-align: left;
}

.left {
	font-size: 16px;
	text-align: left;
	width: 43%;
	top: 150px;
	position: relative;
	padding-left: 95px;
	float: left;
}
.left p { margin-top: -20px;}
.left h4 { color: gold; }
.left h1, .left h4 { text-indent: -20px; }
.left a { color: white; }
.left a:hover { color: gold; }

.kkm img {
	margin-top: 150px;
	width: 600px;
	margin-left: -325px;
	margin-right: -100px;
	position: relative;
	display: inline-block;
	float: right;
	white-space: nowrap;
	overflow: hidden;
}

.p44 img {
	margin-top: 250px;
	width: 420px;
	margin-left: -335px;
	margin-right: 25px;
	position: relative;
	display: inline-block;
	float: right;
	white-space: nowrap;
	overflow: hidden;
}

.floragraph img {
	margin-top: 250px;
	width: 420px;
	margin-left: -100px;
	margin-right: 50px;
	position: relative;
	display: inline-block;
	float: right;
	white-space: nowrap;
	overflow: hidden;
}

.vid {
	margin-top: 250px;
	margin-right: 50px;
	float: right;
	display: inline-block;
}


.p a {
	top: 70px;
	font-size: 45px;
}

a.sub {
	font-size: 25px;
}

.hdrBkg {
	border-bottom: 1px solid black;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	opacity: .95;
	z-index: 1;
}

.stretch {
	width: 100%;
	height: 100%;
}

#current {
	color: grey;
}

video::-webkit-media-controls {
   display:none !important;
}

@media screen and (min-width: 1651px) {
	.logo a {
		position: fixed;
		left: 80px;
		top: 25px;
	}

	.info {
		top: 20px;
		right: -140px;
		width: 60%;
	}

	.cCtnr { width: 80%; }
	
	.hdrBkg { height: 150px; }
}

@media screen and (min-width: 1151px) and (max-width: 1651px) {
	.logo a {
		position: fixed;
		left: 80px;
		top: 25px;
	}

	.info {
		top: 20px;
		right: -140px;
		width: 60%;
	}

	.cCtnr { margin-top: 200px; }
	
	.hdrBkg { height: 150px; }
	
}

@media screen and (min-width: 1151px) and (max-width: 1350px) {
	.left { width: 80%; }
	.kkm img {
		float: none;
		margin-left: 75px;
		margin-right: -500px;
	}
	.p44 img {
		float: none;
		margin-top: 175px;
		margin-left: 100px;
		margin-right: -325px;
	}
	.floragraph img { margin-top: 150px; }
	.vid {
		width: 100%;
   	text-align: center;
   	margin: 0 auto;
		margin-top: 150px;
	}
}

@media screen and (max-width: 1150px) {
	.logo {
		text-align: center;
	}
	.logo a {
		position: relative;
		display: inline-block;
		text-align: center;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	
	.info { position: relative;}

	.cCtnr { margin-top: 25px; }
	
	.lCtnr { margin-top: 25px; }
	
	.hdrBkg {
		height: 225px;
		position: absolute;
	}
	.left {
		width: 90%;
		padding-left: 35px;
		top: 0px;
	}
	.kkm img {
		float: none;
		margin-top: 0px;
		margin-left: -135px;
		margin-right: -385px;
	}
	.p44 img {
		float: none;
		margin-top: 25px;
		margin-left: 25px;
		margin-right: -325px;
	}
	.floragraph img { margin-top: 25px; }
	.vid {
		width: 100%;
   	text-align: center;
   	margin: 0 auto;
		margin-top: 25px;
	}
}